@bar-color: rgba(144, 147, 153, .5);
@border-color: #c3e0f5;

html,
input,
select,
textarea {
  font-family: 'Helvetica Neue', Helvetica, STHeiTi, Arial, sans-serif;
  font-size: 14px;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

.text-more {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.h100 {
  height: 100%;
}

.el-dialog__header {
  border: 1px solid #e9eaec;
}
.el-dialog__body {
  padding: 20px;
}
.el-dialog__footer {
  padding: 0 20px 20px;
}

.el-tabs--border-card>.el-tabs__header .el-tabs__item {
  color: #303133;
}

.el-tree {
  .el-tree-node__content {
    height: 36px;
    line-height: 36px;
  }
}
.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
  background: #c5e6ff;
}

.el-loading-mask.is-fullscreen {
  background: rgba(255, 255, 255, .9);
  transition: opacity .3s 2s;
}
